@model IEnumerable<DatPhongDiWeb.Models.TypeOfRoom.TypeofRoomView>
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    Layout = "_LayoutThemesHotelBootraps";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Phòng của chúng tôi</h2>
                    <div class="bt-option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="rooms-section spad">
    <div class="container">
        <div class="row" >
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="~/images/@item.ImagePath" alt="">
                        <div class="ri-text">
                            <h4>@item.Name</h4>
                            <h3>@String.Format(info, "{0:#,##0 đ}", item.PricePerNight)<span>/đêm</span></h3>
                            <table>
                                <tbody>

                                    <tr>
                                        <td class="r-o">Số người lớn:</td>
                                        <td>@item.AmountAdults</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số trẻ em:</td>
                                        <td>@item.AmountChild</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Kích cỡ phòng:</td>
                                        <td>@item.Size<a>m<sup>2</sup></a></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Dịch vụ:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">ĐẶT PHÒNG</a>
                        </div>
                    </div>
                </div>
            }
         

        </div>

    </div>
</section>

@*<script>
        $.ajax({
            url: '/TypeOfRoom/gets',
            method: 'GET',
            dataType: 'JSON',
            success: function (response) {
                $('#tbTypeOfRoom>tbody').empty();
                $.each(response.data, function (i, v) {
                    $('#tbTypeOfRoom>tbody').append(
                        `<tr>
                            <td>${v.id}</td>
                            <td>${v.name}</td>
                            <td>${v.amountAdults}</td>
                            <td>${v.amountChild}</td>
                            <td>${v.pricePerNight}</td>
                            <td>${v.statusName}</td>
                            <td align="center">
                                <a href="javascript:void(0)" class="btn btn-warning"
                                    onclick="typeOfRoom.ModalManagementImage(${v.id},'${v.name}')">
                                        Quản lí ảnh
                                </a>
                                <button class="btn btn-info"
                                onclick="typeOfRoom.edit(${v.id},'${v.name}',${v.amountAdults},
                                ${v.amountChild},${v.pricePerNight},${v.status})">Chỉnh sửa</button>
                                <a href="javascript:void(0)" onclick="typeOfRoom.delete(${v.id},${v.status})"
                                    class="btn btn-danger"> Xóa
                                </a>
                            </td>
                        </tr>`
                    );
                });
            }
        });
        $("RoomTypeList")
    </script>*@