@model IEnumerable<DatPhongDiWeb.Models.TypeOfRoom.TypeofRoomView>

@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    Layout = "_LayoutThemesHotelBootraps";
}
<!-- banner -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1 style="color: lawngreen">STVK Hotel</h1>
                    <p style="color: black; font-size: 150%; line-height: 1">
                        Đừng chần chờ gì nữa! Hãy đặt niềm tin của bạn cho chúng tôi. Bạn sẽ không phải thất vọng về chất lượng của khách sạn STVK đem lại.
                        Booking ngay để nhận những ưu đãi chưa từng có!
                    </p>
                    <a href="#" class="primary-btn" style="color: black; font-size: 150%">Khám phá bây giờ</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                @await Html.PartialAsync("_FormCheckAvailable", new DatPhongDiWeb.Models.TypeOfRoom.CheckAvailable()
           {
               CheckIn = DateTime.Today,
               CheckOut = DateTime.Today.AddDays(1)
           })
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/sona-master/img/banner5.jpeg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/banner2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/banner3.jpg"></div>
    </div>
</section>
<!--end banner -->

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="rooms-section spad">
    <div class="container">
        <div class="row">
            <input type="text" hidden value="@ViewBag.CheckIn" />
            <input type="text" hidden value="@ViewBag.CheckOut" />
            @foreach (var item in Model)
            {
                List<string> servicestr = new List<string>();
                <div class="col-lg-4 col-md-6">
                    <a asp-controller="TypeOfRoom" asp-action="RoomTypeDetail" asp-route-Id="@item.Id" asp-route-CheckIn="@ViewBag.CheckIn" asp-route-CheckOut="@ViewBag.CheckOut">
                        <div class="room-item">
                            <img src="~/images/@item.ImagePath" alt="" height="218">
                            <div class="ri-text">
                                <h4>@item.Name</h4>
                                <h3>@String.Format(info, "{0:#,##0 đ}", item.PricePerNight)<span>/đêm</span></h3>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Kích cỡ phòng:</td>
                                            <td>@item.Size<span>m<sup>2</sup></span></td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Số người lớn:</td>
                                            <td>@item.AmountAdults</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Số trẻ em:</td>
                                            <td>@item.AmountChild</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">
                                                Dịch vụ:
                                            </td>
                                            <td>
                                                @if (item.ServiceViews.Count > 0)
                                                {
                                                    foreach (var service in item.ServiceViews.Take(3))
                                                    {
                                                        servicestr.Add(service.Name);
                                                    }
                                                }
                                                @String.Join(", ", servicestr)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span class="primary-btn">More Details</span>
                            </div>
                        </div>
                    </a>
                </div>
            }
            <div class="col-lg-12">
                <div class="room-pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
